name: Check All Homeworks

on:
  push:
    paths:
      - 'homeworks/**'
  pull_request:
    paths:
      - 'homeworks/**'
  workflow_dispatch:

jobs:
  validate-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install jupyter numpy matplotlib pandas scikit-learn

      - name: Validate and Run Notebooks
        run: |
          has_error=0
          
          if [ ! -d "homeworks" ]; then
            echo "Папка homeworks не найдена!"
            exit 0
          fi
          
          echo "Проверка домашних заданий..."
          
          for dir in homeworks/HW*/; do
              dir=${dir%*/}
              foldername=$(basename "$dir")
              expected_file="$dir/$foldername.ipynb"
          
              echo "---------------------------------------------------"
              echo "Проверка папки: $foldername"
          
              if [ -f "$expected_file" ]; then
                  echo "Файл $foldername.ipynb найден."
          
                  echo "Запуск $foldername.ipynb..."
                  jupyter nbconvert --to notebook --execute "$expected_file" --output "${foldername}_checked"
          
                  if [ $? -eq 0 ]; then
                      echo "$foldername: Успешно выполнено!"
                  else
                      echo "$foldername: Ошибка при выполнении кода!"
                      has_error=1
                  fi
              else
                  echo "Ожидался файл $expected_file, но он не найден!"
                  echo "Проверьте правила: внутри папки $foldername должен быть файл $foldername.ipynb"
                  has_error=1 
              fi
          done
          
          if [ $has_error -ne 0 ]; then
              echo "---------------------------------------------------"
              echo "⛔ Были найдены ошибки в выполнении или структуре заданий."
              exit 1
          else
              echo "---------------------------------------------------"
              echo "✨ Все найденные задания прошли проверку."
          fi